# dot files
.*cache
.build/
.DS_Store
.nyc_output
.tmp/
.idea/
.vscode/
*.env

# debug
*debug.log*

# folders
coverage*/
dist*/
node_modules*/

# .js files
*.d.ts*
*.js
*.jsx
*.mjs
package-lock.json

# Do not ignore
!rollup.dev.config.js
!rollup.live.config.js
!rollup.prod.config.js
!module.d.ts
!karma.conf.js
!src/toggle-switch/test/*

*.rpt2_cache*/
